<script type="text/x-kendo-template" id="active-vessels-grid-toolbar-template">
<div class='toolbar'>
	<h3>Active Vessels</h3>
</div>
</script>

<script type="text/x-kendo-template" id="active-service-providers-grid-toolbar-template">
<div class='toolbar'>
	<h3>Active Service Providers</h3>
</div>
</script>

<script type="text/x-kendo-template" id="active-seafarers-grid-toolbar-template">
<div class='toolbar'>
	<h3>Active Seafarers</h3>
</div>
</script>

<script type="text/x-kendo-template" id="arrival-vessels-grid-toolbar-template">
<div class='toolbar'>
	<h3>Scheduled Vessel Arrivals</h3>
</div>
</script>

<script type="text/x-kendo-template" id="vessels-turnover-grid-toolbar-template">
<div class='toolbar'>
	<h3>Vessel Registration Turnover (5 years)</h3>
</div>
</script> 

<script type="text/x-kendo-template" id="vessel-certificates-grid-toolbar-template">
<div class='toolbar'>
	<h3>Vessels Certificates</h3>
</div>
</script> 