	<script type="text/x-kendo-template" id="dmaCertificatesTemplate">
        <div class="toolbar">
            <label for="dmaCertificatesSearchField">Search</label>
            <input id="dmaCertificatesSearchField" type="text" class="k-search">
            <a id="dmaCertificatesSearchBtn" class="k-button"><span class="k-icon k-search"></span>Search</a>
            <a id="addNewDMACertificateBtn" class="k-button"><span class="k-icon k-add"></span>Add DMA Certificate</a>
			<a id="editDMACertificateBtn" class="k-button" style="display:none;"><span class="k-icon k-edit"></span>Edit DMA Certificate</a>
            <a id="confirmDMACertificateBtn" class="k-button" style="display:none;"><span class="k-icon k-edit"></span>Confirm</a>
        </div>
    </script>
    
    <script type="text/x-kendo-template" id="foreignConversionsTemplate">
        <div class="toolbar">
            <label for="foreignConversionsSearchField">Search</label>
            <input id="foreignConversionsSearchField" type="text" class="k-search">
            <a id="foreignConversionsSearchBtn" class="k-button"><span class="k-icon k-search"></span>Search</a>
            <a id="addNewForeignConversionBtn" class="k-button"><span class="k-icon k-add"></span>Add Foreign Conversion</a>
            <a id="editForeignConversionBtn" class="k-button" style="display:none;"><span class="k-icon k-edit"></span>Edit Foreign Conversion</a>
            <a id="confirmForeignConversionBtn" class="k-button" style="display:none;"><span class="k-icon k-edit"></span>Confirm</a>
        </div>
    </script>