<!-- Action Tool Bar Templates -->
	<script type="text/x-kendo-template" id="seafarerTemplate">
        <div class="toolbar">
            <label for="seafarerSearchField">Search</label>
            <input id="seafarerSearchField" type="text" class="k-search">
            <a id="searchSeafarersBtn" class="k-button"><span class="k-icon k-search"></span>Search</a>
        </div>
    </script>
    
    <script type="text/x-kendo-template" id="certificatesTemplate">
        <div class="toolbar">
            <a class="addNewCertificateBtn k-button"><span class="k-icon k-add"></span>Add Certificate</a>
            <a class="editCertificateBtn k-button" style="display:none;"><span class="k-icon k-add"></span>Edit Certificate</a>
            <a class="approveCertificateBtn k-button" style="display:none;"><span class="k-icon k-add"></span>Approve Certificate</a>
        </div>
    </script>

<!-- Grid Datail Templates -->
<script type="text/x-kendo-template" id="seafarerCertificateTemplate">
	<div class='certificatesGrid'></div>
</script>


    