<!-- Action Tool Bar Templates -->
	<script type="text/x-kendo-template" id="seafarerTemplate">
        <div class="toolbar">
            <label for="seafarerSearchField">Search</label>
            <input id="seafarerSearchField" type="text" class="k-search">
            <a id="searchSeafarersBtn" class="k-button"><span class="k-icon k-search"></span>Search</a>
            <a id="addNewSeafarerBtn" class="k-button"><span class="k-icon k-add"></span>Add Seafarer</a>
            <a id="editSeafarerBtn" class="k-button" style="display:none;"><span class="k-icon k-edit"></span>Edit Seafarer</a>
        </div>
    </script>
    
    <script type="text/x-kendo-template" id="documentsTemplate">
        <div class="toolbar">
            <a class="documentAddBtn k-button"><span class="k-icon k-add"></span>Add Document</a>
			<a class="documentDeleteBtn k-button" style="display:none;"><span class="k-icon k-add"></span>Delete Document</a>
        </div>
    </script>



<!-- Grid Datail Templates -->
<script type="text/x-kendo-template" id="seafarerCertificateTemplate">
	<div class='seafarerCertificatesTabstrip'>
		<ul>
			<li class='k-state-active'>Documents</li>
			<li>Seafarer Certificates</li>
		</ul>
		<div>
			<div class='documentsGrid'></div>
		</div>
		<div>
			<div class='certificatesGrid'></div>
		</div>
	</div>
</script>


    
    <script type="text/x-kendo-template" id="seafarerCocDetailsToolBarTemplate">
        <div class="toolbar">
            <a id="addCOCDetailBtn" class="k-button"><span class="k-icon k-add"></span>Add COC Detail</a>
            <a id="editCOCDetailBtn" class="k-button" style="display:none;"><span class="k-icon k-edit"></span>Edit COC Detail</a>
            <a id="approvalCOCDetailBtn" class="k-button" style="display:none;"><span class="k-icon k-edit"></span>Approval</a>
        </div>
    </script>
    
    <script type="text/x-kendo-template" id="seafarerCOCDetailGridTemplate">
	<div class='seafarerCertificatesTabstrip'>
		<ul>
			<li class='k-state-active'>COC Capacities</li>
			<li>COC Functions</li>
			<li>COC Revalidations</li>
		</ul>
		<div>
			<div class='cocCapacitiesGrid'></div>
		</div>
		<div>
			<div class='cocFunctionsGrid'></div>
		</div>
		<div>
			<div class='cocRevalidationsGrid'></div>
		</div>
	</div>
	</script>