	<script type="text/x-kendo-template" id="usersTemplate">
        <div class="toolbar">
            <label for="userSearch">Search</label>
            <input id="userSearch" type="text" class="k-search">
            <a id="searchUsersBtn" class="k-button"><span class="k-icon k-search"></span>Search</a>
            <a id="addUserBtn" class="k-button"><span class="k-icon k-add"></span>Add User</a>
			<a id="editUserBtn" class="k-button"><span class="k-icon k-add"></span>Edit User</a>
            <a id="activateUser" class="k-button" style="display:none;"><span class="k-icon k-edit"></span>Activate User</a>
			<a id="deactivateUser" class="k-button" style="display:none;"><span class="k-icon k-edit"></span>De-Activate User</a>
        </div>
    </script>
    
    <script type="text/x-kendo-template" id="rolesTemplate">
        <div class="toolbar">
            <a id="addRoleBtn" class="k-button"><span class="k-icon k-add"></span>Create Role</a>
			<a id="editRoleBtn" class="k-button" style="display:none;"><span class="k-icon k-edit"></span>Edit Role</a>
        </div>
    </script>
    
    <script type="text/x-kendo-template" id="roleDetailTemplate">
        <div class='rightsGrid'>
            
        </div>
    </script>