@(message: String)

@main("Members","members") {
    <script src="@routes.Assets.at("javascripts/form-popup-manager.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/apps/members.js")" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            init();
        });
    </script>

    <!--<div class="breadcrumb">
	    <ul class="crumbs">
	        <li class="first"><a href="/" style="z-index:9;"><span></span>HOME</a> &gt; </li>
	        <li><a href="/admin" style="z-index:7;">ADMIN</a> &gt; </li>
	        <li><a href="/branches" style="z-index:7;">BRANCHES</a></li>
	    </ul>
	</div>-->



	<div id="appDiv" class="grid_12">
        <div class="demo-section">
            <h3 style="margin-bottom: 5px;">Manage Members</h3>
            <div id="membersGrid"></div>
        </div>
    </div>

    @templates.member_templates()
}